*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1000px;
    background-color: beige;
}

#scroll{
   
}

#scroll .container{
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
      
}



#scroll .container .content{
    
    background-color: rgb(255, 255, 255);
    color: rgba(9,9,121,1);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    position: relative;
}

#scroll .container .box{
    background-color: rgba(9,9,121,1);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    margin-top: 0;
}

#scroll  .top-bar{
    height: 11px;
    width: 5%;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    position: fixed;
}

#scroll .bottom-bar{
    height: 11px;
    position: fixed;
    bottom: 0px;
    right: 0%;
}
